.main
    background-color: red
    height: 610px
    width: 1280px
    margin: 64px
    display: flex
    flex-direction: row
    justify-content: space-between
    .cards
        display: flex
        flex-direction: column
        height: auto
        gap: 16px
    .images
        background-color: #25ff09
        width: 610px
        height: 610px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 24px
        

            